
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 80px;
  background-color: #ffffff;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo img {
  width: 170px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 35px;

  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  color: #333;

  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #2563eb;
}

.navbar-btn{
    padding: 12px 24px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg, #2563eb, #7c3aed);

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s ease;
}

.navbar-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37,99,235,0.35);
}
